$header-fondo: #05043f; 
$Purpuraclaro: #6831af;
$grisClaro: rgb(161, 163, 165);
$transparante:rgba(255, 255, 255, 0.2);
$violetaTransparente: rgba(243, 103, 199, 0.4);
$fondo-td: rgba(243, 103, 199, 0.062);
$cremaTransparente: rgba(243, 140, 210, 0.4);
$cremaVioleta: #be95f3;
$crema:  #d0a9e7;
$border-violetaOscuro: rgba(111, 0, 255, 0.164);
$rosaFuerte: rgb(240, 8, 170);
$rosaLiviano: rgb(196, 11, 180);

$fuente-pagina: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;