@media screen and (min-width: 1024px){  
    .nav-item1{
        display: none;
    }
    .noticias-mobile{
        display: none;
    }
    .logo-iniciosesion{
        margin-top: -30px;
    }
    }
    @media screen and (min-width: 1024px){  
        }