html{
    .rankings-details{
        h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 3.5rem;
            height: auto;
            margin: 3rem;
            color: white;
        }
        h2{
            width: 30px;
            height: 30px;
            color: white;
            display: flex;
            justify-content: center;
            margin-left: 200px;
        }
        .rankings-details1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: -80px;
            svg{
                width: 30px;
                height: 30px;
                color: white;
                display: flex;
                justify-content: flex-start;
                align-items: center; 
                margin-left: 205px; 
            }
            input{
                width: 180%;
                height: 40px;
                border: 2px solid;
                background: rgb(255, 255, 255);
                font-size: 18px;
                color: rgb(0, 0, 0);
                cursor: pointer;
                outline: none;
            }
        }
        .details-1{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1rem;
            margin-left: 155px;
            margin-top: 5px;
                color: white;
            select{
                width: 80%;
                height: 40px;
                border: 2px solid;
                background: rgb(255, 255, 255);
                font-size: 18px;
                color: rgb(0, 0, 0);
                cursor: pointer;
                outline: none;
            }
        }
        .tablerankings{
            border: solid 1px rgba(255, 255, 255, 0.2);
            margin-top: 50px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 90px;
            margin-right: 105px;
            table{
                color: white;
                font-size: 14px;
                table-layout: fixed;
                border-collapse: collapse;
            }
            thead{
                background: rgba(243, 140, 210, 0.4);
                font-size: 20px;
            }
            th{
                padding: 80px 70px;
                font-weight: 700;
                text-transform: uppercase;
            }
            td{
                padding: 70px;
                border-bottom: solid 1px rgba(255, 255, 255, 0.2);
                background: rgba(243, 103, 199, 0.062);
            }
            tbody tr:hover{
                background: rgba(243, 103, 199, 0.4);
            }
        }
    }
}