html{
    .soporte-details {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 2fr 2fr 0.5fr;
            grid-template-areas: 
                "section aside"
                "section aside"
                "section aside"
                "section aside";
            grid-column-gap: 1rem;
            grid-row-gap: 1rem; 
            width: 100%;
            height: 100vh;
            color: white;   
            font-size: 30px;
            font-family: $fuente-pagina;
        h1{
            font-family: $fuente-pagina;
            font-size: 3.5rem;
            height: auto;
            left: 40px;
            margin-top: 3rem;
            margin-left: 3rem;
        }
        h2{
            font-family: $fuente-pagina;
            font-size: 5rem;
            height: auto;
            color: white;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-left: 3rem;
            margin-bottom: 7.5rem;
        }
            section{
                grid-area: section;
            }
            aside{
                grid-area: aside;
                display: flex;
                justify-content: center;
                margin: 15px;
                margin-top: 60px;
            }
            label{
                color: white;
                margin: -5px 0 20px 5px;
            }
            input{
                width: 100%;
                height: 50px;
                border: 1px solid;
                background: rebeccapurple;
                border-radius: 25px;
                font-size: 18px;
                color: black;
                cursor: pointer;
                outline: none;
                margin-right: 15px;
                margin-left: 15px;
            }
            select{
                margin-left: 15px;
                margin-right: 15px;
                width: 100%;
                height: 50px;
                border: 1px solid;
                background: rebeccapurple;
                border-radius: 25px;
                font-size: 18px;
                color: black;
                cursor: pointer;
                outline: none;
            }
            .enviarmg{
                label{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 250px;
                    margin-right: 30px;
                }
                input{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 310px;
                    margin-right: 125px;
                    width: 150%;
                    height: 50px;
                }
                textarea{
                    width: 450%;
                    height: 300px;
                    margin-right: -280px;
                }
            }
        
    }
}